<main class ="container">
    <div class= "jumboText jumbotron text-center">
        Clear-Docs
    </div>

    <section class=" col-lg-12 butBar ">
        <div class= "btnContainer">
            <a href= "/angular" class= "btn btn-primary">Angular</a>
            <a href= "/nodeJs" class= "btn btn-primary">NodeJs</a>
            <a href= "/promises" class= "btn btn-primary">Promises</a>
            <a href= "/userTutorials" class= "btn btn-primary">User Tutorials</a>
            <span class="pull-right">
                <a href="" class = "btn btn-success">Login</a>
                <a href="#" class = "btn btn-success">Sign Up!</a>
            </span>
        </div>

    </section>

    <section class="row">
        
    </section>

    <footer class ="row">
        
    </footer>

<main>