<main class ="container">
    <div class= "jumboText jumbotron text-center ">
        <img src="/images/smallBulb.png" alt="light">
        Clear Docs
    </div>

    <!-- <section class=" col-lg-12 butBar "> -->
       <!--  <div class= "btnContainer"> -->
    <section>
        <div class="buttonDivide col-sm-3 divDifColor1">
            <p>AngularJS, commonly referred to as Angular, is an open-source web application framework maintained by Google and a community of individual developers and corporations to address many of the challenges encountered in developing single-page applications. </p>
            <a href= "/angular" class= "btn btn-default topicBtn">Angular</a>
        </div>
        <div class="buttonDivide col-sm-3 divDifColor2">
            <p>Node.js is an open source, cross-platform runtime environment for server-side and networking applications. Node.js applications are written in JavaScript, and can be run within the Node.js runtime on OS X, Microsoft Windows, Linux, FreeBSD, and IBM i.

            </p>
            <a href= "/nodeJs" class= "btn btn-default topicBtn">NodeJs</a>
        </div>
        <div class="buttonDivide col-sm-3 divDifColor3">
            <p>The core idea behind promises is that a promise represents the result of an asynchronous operation. They are becoming more prominent in the world of javascript and are going to be fully integrated in ECMAScript 6. Promises are a quick and simple way to clean up callback heavy code.

            </p>
            <a href= "/promises" class= "btn btn-default topicBtn">Promises</a>
        </div>
        <div class="buttonDivide col-sm-3 divDifColor4">
            <p>Custom topics for discussion provided by our wonderful users. Our users will help grow Clear Docs into a vast and comprehensive learning reasources for developers.  Our goal is expand the range of topics we cover by assesing user demmand and input. Every users contribution is valuable. </p>
            <a href= "/userTopics" class= "btn btn-default topicBtn">User Topics</a>
        </div>
         <!--    <span class="pull-right">
                <a href="" class = "btn btn-success">Login</a>
                <a href="#" class = "btn btn-success">Sign Up!</a>
            </span> -->

    </section>

    <section class="row">
        
    </section>

    <footer class ="row">
        
    </footer>

<main>