<main class = " container">
	<div class="jumbotron text-center row jumboText">
		<h1><%= title %></h1>
	</div>

	<div class = "row">
		<section class= "col-lg-8 topicsUl">
			<ul>
				<li><a href="#">like?</a>1 <a href="#">answers</a></li>
				<li><a href="#">like?</a>2 <a href="#">answers</a></li>
				<li><a href="#">like?</a>3 <a href="#">answers</a></li>
			</ul>
		</section>
		<section class ="col-lg-4 remainder">
			<ul>
				<li><a href="#">like?</a>place <a href="#">answers</a></li>
				<li><a href="#">like?</a>holdd <a href="#">answers</a></li>
				<li><a href="#">like?</a>errrr <a href="#">answers</a></li>
			</ul>
		</section>
	</div>
	<div class =" text-center questionForm">
		<section >
			<form action="">
				<input type="text" placeholder ="subject of question">
				<input type="text" placeholder ="link to troublind documentation">
				<input type="textbox" placeholder="whats your problem">
				<input type="submit" id= "subBtn">
			</form>
		</section>

	</div>

</main>
